button {
  padding: 6px 9px;
  border-radius: 5px;
  background-color: rgb(144, 29, 169);
  color: #fff;
  border: rgb(144, 29, 169);
  box-shadow: 5px 3px 4px 0px rgba(0, 0, 0, 0.2);
}
.card {
  max-width: 375px;
  margin: 30px 0 auto;
  padding: 10px;
  display: block;
  background-color: rgba(255, 202, 244, 0.915);
}
.weather-app {
  max-width: 375px;
  margin: 0 auto;
  display: block;
}
.characteristics {
  font-size: 15px;
  font-family: "Cormorant Garamond", serif;
  font-family: "Silkscreen", cursive;
  font-family: "Work Sans", sans-serif;
  line-height: 17px;
}
.active {
  color: #000;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
  cursor: default;
}
.forecast-content {
  text-align: center;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin: 3px 3px 3px 7px;
  background: radial-gradient(
    circle at 5.3% 17.2%,
    rgb(255, 208, 253) 0%,
    rgb(255, 237, 216) 90%
  );
  box-shadow: 5px 3px 4px 0px rgba(229, 105, 206, 0.392);
}

.second-forecast-content {
  text-align: center;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin: 3px 3px 3px 7px;
  background: radial-gradient(
    circle at 5.3% 17.2%,
    rgb(255, 208, 253) 0%,
    rgb(255, 237, 216) 90%
  );
  box-shadow: 5px 3px 4px 0px rgba(229, 105, 206, 0.392);
  margin: 3px, 20px, 20px, 7px;
}

.gray {
  font-size: 13px;
  color: rgb(153, 151, 151);
}
#units {
  position: relative;
  top: -34px;
  font-size: 16px;
}
#submit-search {
  margin-right: 5px;
  margin-bottom: 25px;
}
#city-name {
  font-family: "Cormorant Garamond", serif;
  font-family: "Silkscreen", cursive;
  font-family: "Work Sans", sans-serif;
  font-size: 30px;
  text-align: center;
  line-height: 33px;
}
#description {
  font-family: "Silkscreen", cursive;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  margin-top: 2px;
  margin-bottom: 20px;
}
#date {
  font-family: "Silkscreen", cursive;
  font-family: "Work Sans", sans-serif;
  color: rgb(153, 151, 151);
  text-align: center;
}
#icon {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 4px;
}
#first-day-icon {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}
#search-city-form {
  display: block;
  margin: 0 auto;
  text-align: center;
}
#search-bar {
  margin-right: 5px;
  display: inline;
  width: 170px;
}
#temp {
  text-align: center;
  margin: 0 auto;
}
#precipitation {
  margin-bottom: 20px;
}
#temp-number {
  font-size: 70px;
}
#description::first-letter {
  text-transform: uppercase;
}
#farenheit-value {
  text-decoration: none;
}
#celsius-value {
  text-decoration: none;
}
